[Unit]
Description=rsync upload image

[Service]
ExecStart=/opt/node/bin/geomagnetism
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
