[Unit]
Description=rsync upload image

[Service]
ExecStart=/usr/local/bin/node /data/www/bin/www
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
